.input {
  display: flex;
  align-items: center;
}

.input input {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input button {
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
  background-color: rgba(191, 190, 233, 0.9);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}

.input button :focus,
.input button :hover {
  color: rgb(22, 30, 189);
}
